@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: tomato;
  height: 300px;
}

h1 {
  font-size: 6rem;
  letter-spacing: 0.1rem;
  color: white;
  text-transform: uppercase;
  margin: 8rem 0;
}

.search-form {
  width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.alert {
  position: absolute;
  top: 25rem;
  left: 0;
  background-color: white;
  width: calc(100% - 0.4rem);
  border-radius: 0rem;
  padding: 1rem;
}

.alert h3 {
  font-size: 3rem;
  color: red;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #31312c;
  color: #fff;
}

.recipes {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 11rem;
  position: relative;
  border: 1px solid rgb(231, 224, 224);
  border-radius: 1rem;
}

.recipe h3 {
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  position: absolute;
  top: 40rem;
  left: 3.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  color:black;
}

.recipe img {
  border-radius: 20rem;
  object-fit: cover;
}

.recipe a {
  padding: 7.5rem 0.5rem;
  font-size: 2rem;
  color:tomato;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color:tomato;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  position: absolute;
  margin-top: 37rem;
  padding: 0rem 1rem;
  right: 18rem;
}

.ingredient-list {
  margin-top: 2rem;
  top: 10rem;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: tomato;
  font-size: 1.3rem;
}